---
import '@/styles/scss/card.scss';
import Base from '@/layouts/base.astro';
import Card from '@/components/card.astro';
import { fetchGitHubProjects } from '@/utils/github';
import type { Project } from '@/types';

const projetos: Project[] = await fetchGitHubProjects('sistematico', ['AJAX-Chat'], true);
---

<Base title="Projetos" description="Alguns projetos meus" hero="/img/posts/The Combat of the Giaour and the Pasha.jpg">
  { projetos.length > 0 && (
    <div class="grid">
      {projetos.map((i) => (
        <Card name={i.name} desc={i.description} url={i.html_url} />
      ))}
    </div>
  )}
</Base>