---
import Base from '@/layouts/base.astro';
import Card from '@/components/card.astro';
import projetos from '@/data/projetos.json';
---

<Base title="Projetos" description="Alguns projetos meus">
  { projetos.length > 0 && (
    <div class="project-grid">
      {projetos.map((i) => (
        <Card name={i.name} desc={i.desc} href={i.href} />
      ))}
    </div>
  )}
</Base>