---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '@/layouts/Base.astro';

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: { slug: string; }) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout {...post.data}>
  <h3>{post.data.title}</h3>
  <Content />
</BaseLayout>