---
import BaseLayout from '@/layouts/Base.astro';
---

<BaseLayout>
	<div>

    <h1>Erro 404</h1>
    <p>Página não encontrada.</p>
    <p>
      <a href="/" class="inline-block p-2 text-center text-xl font-bold text-monokai-red border-2 border-monokai-red rounded hover:bg-monokai-red hover:text-monokai-fg">
        Voltar
      </a>
    </p>
  </div>
</BaseLayout>