---
import Base from '@/layouts/base.astro';
import { Search as SearchComponent } from '@/components/Search';
import { getCollectionByName } from '@/utils/getCollectionByName';
import { t } from '@/i18n/utils';

const posts = await getCollectionByName('blog');
---

<Base>
  <h2 class="text-2xl font-bold text-skin-base mb-2">{t('search.search')}</h2>
  <SearchComponent client:only="solid-js" posts={posts}/>
</Base>
