---
import BaseLayout from '@/layouts/Base.astro';
import projects from '@/data/projetos.json';
const projetos = projects.sort((a, b) => a.name.localeCompare(b.name));
---

<BaseLayout>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      projetos.map(item => (
        <div>
          <h3 class="text-2xl font-bold text-skin-base">{item.name}</h3>
          <p class="text-sm italic text-skin-base mb-3">{item.desc}</p>
          <p>
            <a href={item.url} class="hover:text-skin-primary" target="_blank">{item.url}</a>
          </p>
        </div>
      ))
    }
  </div>
</BaseLayout>