---
import Layout from '@/layouts/blog.astro';
---

<Layout
	title="Sobre"
	description="Um pouco sobre o Lucas"
	pubDate={new Date('2024-05-25')}
	heroImage="/posts/images/The Combat of the Giaour and the Pasha.jpg"
>
	<p>
		Oi, eu sou o Lucas, Desenvolvedor Web apaixonado por tecnologia e pelo compartilhamento de conhecimento. 
		Trabalho com desenvolvimento web há vários anos, me especializando em TypeScript, JavaScript, Bun, Node.js, Vue.js, Postgres, Podman e Linux.
	</p>
	<p>
		Este blog é a "vertente open-source" do meu site, um espaço onde compartilho artigos, dicas, snippets de código e alguns bookmarks. 
		Meu objetivo aqui é ajudar a comunidade, oferecendo conteúdos que possam ser úteis tanto para iniciantes quanto para desenvolvedores mais experientes.
	</p>
	<p>	
		Adoro explorar novas tecnologias e encontrar soluções criativas para problemas comuns no desenvolvimento web. 
		Espero que você encontre algo útil e interessante por aqui. Sinta-se à vontade para explorar, comentar e trocar ideias!
	</p>
</Layout>
