---
import '@/styles/scss/_card.scss'
const { name, desc, href} = Astro.props;
---

<a href={href} target="_blank">
  <div class="card">
    <div class="glow"></div>
    <div class="border"></div>
    <div class="title">{name}</div>
    <div class="body">{desc}</div>
  </div>
</a>
