<section class="giscus"></section>

<script src="https://giscus.app/client.js"
        data-repo="sistematico/blog.paxa.dev"
        data-repo-id="R_kgDOMF1fAw"
        data-category="Blog"
        data-category-id="DIC_kwDOMF1fA84Cf7am"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_dark"
        data-lang="pt"
        crossorigin="anonymous"
        async>
</script>