---
import { donate } from '@/consts';
---

<div class="mt-4">
  <div class="esa-sponsor">
    <div class="tip flex items-center justify-center my-4">
      {donate.tip}
    </div>
    <div class="flex items-center justify-center">
      <a class="border rounded-tl-lg rounded-bl-lg p-2" href={donate.githubUrl} target="_blank">
        <img src="/images/donate/github.svg" class="h-4" alt="paypal"/>
      </a>
      <div id="paypalpay" class="border rounded-tr-lg rounded-br-lg p-2">
        <a href={donate.paypalUrl} target="_blank">
          <img src="/images/donate/paypal.svg" class="h-4" alt="paypal"/>
        </a>
      </div>
    </div>
    <div class="qrshow">
      <img src={donate.paypalQRCode} alt="paypalQRCode"/>
    </div>
  </div>
</div>

<script>
  import { donate } from '@/consts';

  let qrDiv = document.getElementsByClassName('qrshow');
  let paypalDiv = document.getElementById('paypalpay');

  if (qrDiv && paypalDiv && donate.paypalQRCode) {
    paypalDiv.addEventListener('mouseenter', () => {
      (qrDiv[0] as HTMLElement).style.display = 'block';
    });
    paypalDiv.addEventListener('mouseleave', () => {
      (qrDiv[0] as HTMLElement).style.display = 'none';
    });
  }
</script>
