---
import Icon from '@/components/icon.astro';

const today = new Date();
---

<footer>
  Site desenvolvido com ❤️ por Lucas Saliés Brum. Todo material publicado no site é de <a href="https://gitlab.com/sistematico/blog.paxa.dev/-/blob/main/LICENSE" target="_blank">domínio público</a>.
  <div class="social-links">
    <a href="https://twitter.com/sistematico" target="_blank">
      <span class="sr-only">Twitter</span>
      <Icon name="twitter" size="24" />
    </a>
    <a href="https://github.com/sistematico" target="_blank">
      <span class="sr-only">GitHub</span>
      <Icon name="github" size="24" />
    </a>
    <a href="https://gitlab.com/sistematico" target="_blank">
      <span class="sr-only">GitLab</span>
      <Icon name="gitlab" size="28" />
    </a>
  </div>
</footer>