---
import { t } from "@/i18n/utils";
---

<div class="footer container p-4">
  <!-- <div class="flex items-center flex-wrap justify-center mb-4 text-skin-base"> -->
  <div class="flex items-center flex-wrap justify-between mb-4 text-skin-base">
    <div>
      <a
        href="https://github.com/sistematico/blog.paxa.dev/blob/main/LICENSE"
        target="_blank">UnLicense</a
      >
      {new Date().getFullYear()}
      <a href="https://paxa.dev">Paxá</a>
      <div class="divider-vertical"></div>
      <a href="/sitemap-0.xml">{t("footer.sitemap")}</a>
    </div>
    <div class="flex align-center">
      <a
        class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active"
        href="mailto:paxa@paxa.dev"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail size-4"
          ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
        >
      </a>

      <a
        class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active"
        href="mailto:paxa@paxa.dev"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19c-.14.75-.42 1-.68 1.03c-.58.05-1.02-.38-1.58-.75c-.88-.58-1.38-.94-2.23-1.5c-.99-.65-.35-1.01.22-1.59c.15-.15 2.71-2.48 2.76-2.69a.2.2 0 0 0-.05-.18c-.06-.05-.14-.03-.21-.02c-.09.02-1.49.95-4.22 2.79c-.4.27-.76.41-1.08.4c-.36-.01-1.04-.2-1.55-.37c-.63-.2-1.12-.31-1.08-.66c.02-.18.27-.36.74-.55c2.92-1.27 4.86-2.11 5.83-2.51c2.78-1.16 3.35-1.36 3.73-1.36c.08 0 .27.02.39.12c.1.08.13.19.14.27c-.01.06.01.24 0 .38"
          ></path></svg
        >
      </a>
    </div>
  </div>
</div>
