---
---

<footer class="bg-monokai-dark p-4 fixed w-full bottom-0 z-10 border-t-2 border-[#fff3]">
  <p class="text-center">
    &copy; {new Date().getFullYear()} Paxá. Site e conteúdo disponibilizados pela licença <a href="https://github.com/sistematico/blog.paxa.dev/blob/main/LICENSE" target="_blank">UnLicense</a>, fontes no <a href="https://github.com/sistematico/blog.paxa.dev/blob/main/LICENSE" target="_blank">Github</a>.
  </p>
</footer>