---
import { t } from '@/i18n/utils';
---

<div class="footer container p-4">
  <div class="flex items-center flex-wrap justify-center mb-4 text-skin-base">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">2024</span>
    </div>
    <div class="divider-vertical"></div>
    <a href="/sitemap-0.xml">{t('footer.sitemap')}</a>
  </div>
</div>

<style>
  .footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
