---
import Logo from '@/components/logo.astro';
import Nav from '@/components/nav.astro';
import Icon from '@/components/icon.astro';
const title = import.meta.env.PUBLIC_APP_NAME;
---

<header>
  <nav>
    <div class="logo">
      <a href="/">
        <Logo />
        <h2>{title}</h2>
      </a>
    </div>
    <div class="nav-links">
      <Nav href="/">Início</Nav>
      <Nav href="/posts">Blog</Nav>
      <Nav href="/snippets">Snippets</Nav>
      <Nav href="/projetos">Projetos</Nav>
    </div>
    <div class="social-links">
      <a href="https://twitter.com/sistematico" target="_blank">
        <span class="sr-only">Twitter</span>
        <Icon name="twitter" />
      </a>
      <a href="https://github.com/sistematico" target="_blank">
        <span class="sr-only">GitHub</span>
        <Icon name="github" />
      </a>
      <a href="https://gitlab.com/sistematico" target="_blank">
        <span class="sr-only">Gitlab</span>
        <Icon name="gitlab" size="34" />
      </a>
    </div>
  </nav>
</header>
<style>
.logo a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  gap: 3px;
  border: none;
}

.logo a:hover {
  color: #fff;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background: rgba(var(--secondary-bg), .5);
  /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */
  border-bottom: 2px solid rgba(var(--secondary-bg), .9);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}

nav a,
nav a:hover {
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 1.4em;
}

h2 a,
h2 a.active {
  text-decoration: none;
}

.social-links,
.social-links a {
  display: flex;
}

@media (max-width: 720px) {
  header { padding: 0 .2em; }
  .logo a h2 { display: none; }
  nav { margin: 0 .5em; }
  nav a { padding: .4em 0.25em; }
  .social-links { display: none; }
}
</style>
