---
---
<button type="button" id="menu-icon" class="header-btn" title="Menu">
  <i class="ri-menu-fill"/>
</button>
<button type="button" id="menu-icon-close" class="header-btn hidden" title="Menu">
  <i class="ri-close-fill"></i>
</button>


<script>
  let menuIcon = document.getElementById("menu-icon");
  let menuCloseIcon = document.getElementById("menu-icon-close");
  let menu = document.getElementById("mobile-menu");
  let showAsideBtn = document.getElementById("aside-btn");
  let closeAsideBtn = document.getElementById("aside-close-btn");
  let personalInfo = document.getElementById("personal-info");
  
  if (menuIcon) {
    menuIcon.addEventListener("click", () => {
      if (showAsideBtn && showAsideBtn.classList.contains('hidden')) {
        showAsideBtn.classList.toggle("hidden");
        if (closeAsideBtn) closeAsideBtn.classList.toggle("hidden");
        if (personalInfo) personalInfo.classList.toggle("hidden");
      }

      menuIcon.classList.toggle("hidden");
    
      if (menuCloseIcon) menuCloseIcon.classList.toggle("hidden");
      if (menu) menu.classList.toggle("hidden");
    });
  }
  
  if (menuCloseIcon) {
    menuCloseIcon.addEventListener("click", () => {
      menuCloseIcon.classList.toggle("hidden");
      if (menu) menu.classList.toggle("hidden");
      if (menuIcon) menuIcon.classList.toggle("hidden");
    });
  }
</script>
