---

---

<button type="button" id="scrollToTopBtn" class="header-btn fixed bottom-4 right-2 hidden" title="scroll to top">
  <i class="ri-arrow-up-line"></i>
</button>

<script>
  let scrollToTopBtn = document.getElementById("scrollToTopBtn");

  window.onscroll = function () {
    if (!scrollToTopBtn) return

    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      scrollToTopBtn.classList.add('block')
      scrollToTopBtn.classList.remove('hidden')
    } else {
      scrollToTopBtn.classList.add('hidden')
      scrollToTopBtn.classList.remove('block')
    }
  };

  if (!scrollToTopBtn) return
  
  scrollToTopBtn.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  })
</script>

