---
import { db, views, sql } from 'astro:db';
const { slug } = Astro.props;
let item;

try {
  item = await db
    .insert(views)
    .values({
      slug,
      count: 1,
    })
    .onConflictDoUpdate({
      target: views.slug,
      set: {
        count: sql`count + 1`,
      },
    })
    .returning({
      slug: views.slug,
      count: views.count,
    });
} catch (error) {
  console.error(error);
  item = { slug, count: 1 };
}
---

<span>Visualizações: {Array.isArray(item) ? item[0]?.count : item.count}</span>