@import "fonts";

:root {
  --fg: 223, 223, 223;
  --bg: 42, 36, 32;
  --secondary-fg: 255, 255, 255;
  --secondary-bg: 42, 36, 32;
  --secondary-bg: 81, 69, 61;
  --accent: 210, 107, 56;
  --accent-hover: 210, 107, 56;
  --border: 32, 29, 28;
  --sand-rgb: 42, 36, 32;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --box-shadow: 0 2px 6px rgba(255, 255, 255, 25%), 0 8px 24px rgba(255, 255, 255, 33%), 0 16px 32px rgba(255, 255, 255, 33%);
  --red: 230, 126, 128;
  --orange: 230, 152, 117;
  --yellow: 219, 188, 127;
  --green: 167, 192, 128;
  --blue: 127, 187, 179;
  --aqua: 131, 192, 146;
  --purple: 214, 153, 182;
}

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--fg));
  background-color: rgb(var(--bg));
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

main {
  flex: 1;
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  // margin-bottom: calc(100% - 1rem);
  padding: 3em 1em 3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--title-fg));
  line-height: 1.2;
}

h1 { font-size: 3.052em; }
h2 { font-size: 2.441em; }
h3 { font-size: 1.953em; }
h4 { font-size: 1.563em; }
h5 { font-size: 1.25em; }
strong, b {	font-weight: 700; }

// .nav-links a {
//   display: inline-block;
// 	text-decoration: none;
// }

// .nav-links a:nth-child(1) {
//   color: red;
// }

a {
  transition: all 350ms ease;
}

a, a:hover {
  color: rgb(var(--accent));
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0 .3em;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  line-height: 3em;
}

nav a.active {
  color: rgb(var(--accent));
  border-bottom-color: rgb(var(--accent));
}

nav a:nth-child(1).active,
nav a:nth-child(1):hover {
  color: rgb(var(--green));
  border-bottom-color: rgb(var(--green));
}

nav a:nth-child(2).active,
nav a:nth-child(2):hover {
  color: rgb(var(--yellow));
  border-bottom-color: rgb(var(--yellow));
}

nav a:nth-child(3).active,
nav a:nth-child(3):hover {
  color: rgb(var(--red));
  border-bottom-color: rgb(var(--red));
}

nav a:nth-child(4).active,
nav a:nth-child(4):hover {
  color: rgb(var(--purple));
  border-bottom-color: rgb(var(--purple));
}

a:hover {	color: rgb(var(--accent-hover)); }

p {	margin-bottom: 1em; }
.prose p { margin-bottom: 2em; }

textarea {
  width: 100%;
  font-size: 16px;
}

input {	font-size: 16px; }
table {	width: 100%; }

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--border));
}

.hero-image {
  width: 100%;
}

.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.prose {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 1em;
  color: rgb(var(--foreground));
}

.title {
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
}

.title h1 {
  margin: 0 0 0.5em 0;
}

.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}

.last-updated-on {
  font-style: italic;
}

.badge {
  text-decoration: none;
  background-color: rgb(var(--secondary-bg));
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

footer {
  padding: 2em 1em;
  color: rgb(var(--secondary-fg));
  background: rgba(var(--secondary-bg), .5);
  border-top: 2px solid rgba(var(--secondary-bg), .9);
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
}

footer .social-links {
  margin-top: 1em;
}

.social-links a {
  text-decoration: none;
  color: rgb(var(--secondary-fg));
}

.social-links a:hover {
  color: rgb(var(--accent-hover));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
